body {
  margin:40px auto;
  max-width:750px;
  line-height:1.6;
  font-size:20px;
  color:#444;
  background-color: #e6e6e6;
  padding:0 10px;
}

h1,h2,h3 {
  line-height:1.2;
}

pre {
  background-color: #444;
  color: #eee;
  padding: 20px;
  border-radius: 3px;
  white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
  white-space: -pre-wrap; /* Opera */
  white-space: -o-pre-wrap; /* Opera */
  white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
  word-wrap: break-word; /* IE 5.5+ */
}